/* Shared properties across all screen sizes */

body {
  background-color: #f6f6f6;
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url(fonts/RobotoSlab-Bold.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Muli Black";
  src: url(fonts/Muli-Black.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Muli Semibold";
  src: url(fonts/Muli-Black.ttf);
  font-style: normal;
  font-weight: 100;
}

h3 {
  color: #bebebe;
  font-family: "Roboto Slab Bold", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 20px;
}

h1 {
  color: #27198c;
  font-family: "Muli Black", sans-serif;
  font-weight: 900;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 30px;
}

.paragraph {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  color: #191919;
  margin-bottom: 40px;
  margin-left: 20px;
  line-height: 1.8;
  font-size: 1.2em;
}

.button1,
.button2,
.button3 {
  font-family: "Muli Black", sans-serif;
  letter-spacing: 1px;
  background-color: #f6f6f6;
  color: #27198c;
  border: 1px solid #fe7010;
  font-weight: 900;
  vertical-align: top;
  text-align: left;
  padding-left: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 20px;
  margin-right: -6px;
}

.button1:hover,
.button2:hover,
.button3:hover {
  cursor: pointer;
}

.buttonsvg1,
.buttonsvg2,
.buttonsvg3 {
  border: 0;
  padding: 0;
  background-color: #fe7010;
}

.buttonsvg1:hover,
.buttonsvg2:hover {
  cursor: pointer;
}

span.plus1,
span.plus2,
span.plus3 {
  background: url(assets/plus.svg) no-repeat top left;
  background-size: contain;
  background-color: #fe7010;
  cursor: pointer;
  display: inline-block;
  height: 34%;
  width: 34%;
}

.leftimage {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 96%; /* 100% includes gutter as slides.css display for * is border-box */
}

.mediamix .leftimage {
  width: 100%;
}

.rightimage1,
.rightimage2 {
  max-width: 200%;
}

.mediapic .rightimage1,
.mediapic .rightimage2 {
  width: 96%;
}

/* Grid positioning of elements by grid-area */
.sectionHead {
  grid-area: head;
}

.article {
  grid-area: article;
}

.mediamix {
  grid-area: mediamix;
}

.list1,
.mobile_list1 {
  grid-area: list1;
}

.list2,
.mobile_list2 {
  grid-area: list2;
}

.list3,
.mobile_list3 {
  grid-area: list3;
}

.list4,
.mobile_list4 {
  grid-area: list4;
}

.mediapic {
  grid-area: mediapic;
}

.mobile_button {
  grid-area: mediamix2;
}

.orderedlist {
  font-family: "Muli Black", sans-serif;
  font-weight: 400;
  color: #e5e5e5;
  margin-top: 6px;
  margin-bottom: 10px;
  line-height: 94%;
}

.placetitle {
  font-family: "Roboto Slab Bold";
  color: #27198c;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
  font-weight: 900;
}

.mobile_list1,
.mobile_list2,
.mobile_list3,
.mobile_list4,
.mobile_button,
.slideshow-container {
  display: none;
}

@media screen and (min-width: 992px) and (max-width: 1920px) {
  .content {
    display: grid;
    grid-template-columns: 20px 4fr 1fr 1fr 1fr 1fr 20px;
    grid-template-rows: 20px 70px auto auto;
    grid-column-gap: calc(10px + (30 - 10) * ((100vw - 992px) / (1920 - 992)));
    grid-row-gap: calc(10px + (30 - 10) * ((100vw - 992px) / (1920 - 992)));
    grid-template-areas:
      ". . . . . . ."
      ". head head head head head ."
      ". article list1 list2 list3 list4 ."
      ". mediamix mediapic mediapic mediapic mediapic .";
  }

  h3 {
    font-size: calc(19px + (24 - 19) * ((100vw - 992px) / (1920 - 992)));
  }

  h1 {
    font-size: calc(33px + (37 - 33) * ((100vw - 992px) / (1920 - 992)));
    line-height: calc(46px + (55 - 46) * ((100vw - 992px) / (1920 - 992)));
  }

  .paragraph {
    font-size: calc(18px + (19 - 18) * ((100vw - 992px) / (1920 - 992)));
  }

  .button1,
  .button2 {
    width: calc(26% + (20 - 26) * ((100vw - 992px) / (1920 - 992)));
    height: calc(50px + (64 - 50) * ((100vw - 992px) / (1920 - 992)));
    font-size: 0.9em;
    margin-top: calc(10px + (20 - 10) * ((100vw - 992px) / (1920 - 992)));
    margin-bottom: calc(30px + (70 - 30) * ((100vw - 992px) / (1920 - 992)));
  }

  .buttonsvg1,
  .buttonsvg2 {
    width: calc(50px + (64 - 50) * ((100vw - 992px) / (1920 - 992)));
    height: calc(50px + (64 - 50) * ((100vw - 992px) / (1920 - 992)));
    margin-top: calc(10px + (20 - 10) * ((100vw - 992px) / (1920 - 992)));
  }

  .leftimage {
    margin-bottom: calc(10px + (50 - 10) * ((100vw - 992px) / (1920 - 992)));
  }

  .rightimage1,
  .rightimage2 {
    margin-bottom: calc(10px + (45 - 10) * ((100vw - 992px) / (1920 - 992)));
  }

  .rightimage1 {
    margin-top: calc(0px + (0 - 180) * ((100vw - 1920px) / (992 - 1920)));
  }

  .orderedlist {
    font-size: calc(36px + (64 - 36) * ((100vw - 992px) / (1920 - 992)));
  }

  .placeholder {
    width: calc(60% + (48 - 60) * ((100vw - 992px) / (1920 - 992)));
    margin-left: calc(20px + (40 - 20) * ((100vw - 992px) / (1920 - 992)));
  }

  .placetitle {
    font-size: calc(14px + (16 - 14) * ((100vw - 992px) / (1920 - 992)));
    line-height: calc(24px + (32 - 24) * ((100vw - 992px) / (1920 - 992)));
  }
}

@media screen and (min-width: 517px) and (max-width: 991px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 35px repeat(6, auto) auto;
    grid-column-gap: 34px;
    grid-row-gap: calc(5px + (10 - 5) * ((100vw - 481px) / (991 - 481)));
    grid-template-areas:
      ". ."
      "head head"
      "article list1"
      "article list2"
      "article list3"
      "article list4"
      "article mediapic"
      "article mediapic"
      "mediamix mediapic";
  }

  h3,
  h1,
  .paragraph,
  .button1,
  .button2,
  .leftimage {
    margin-left: 30px;
  }

  .rightimage1,
  .rightimage2,
  .orderedlist {
    margin-right: 30px;
  }

  .sectionHead {
    align-self: center;
  }

  h3 {
    font-size: 1em;
  }

  h1 {
    font-size: calc(18px + (30 - 18) * ((100vw - 481px) / (991 - 481)));
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .paragraph {
    font-size: calc(10px + (20 - 10) * ((100vw - 481px) / (991 - 481)));
    line-height: calc(18px + (36 - 18) * ((100vw - 481px) / (991 - 481)));
  }

  .button1,
  .button2 {
    width: calc(36% + (26 - 36) * ((100vw - 481px) / (991 - 481)));
    height: calc(34px + (50 - 34) * ((100vw - 481px) / (991 - 481)));
    font-size: calc(7px + (15 - 7) * ((100vw - 481px) / (991 - 481)));
    margin-top: calc(4px + (22 - 4) * ((100vw - 481px) / (991 - 481)));
    margin-bottom: 40px;
  }

  .buttonsvg1,
  .buttonsvg2 {
    width: calc(34px + (50 - 34) * ((100vw - 481px) / (991 - 481)));
    height: calc(34px + (50 - 34) * ((100vw - 481px) / (991 - 481)));
    margin-top: calc(4px + (22 - 4) * ((100vw - 481px) / (991 - 481)));
  }

  .leftimage {
    margin-bottom: 30px;
  }

  .rightimage1 {
    margin-top: 30px;
  }

  .rightimage2 {
    margin-top: 20px;
  }

  .mediapic .rightimage1,
  .mediapic .rightimage2 {
    width: 94%;
    height: calc(36% + (120 - 36) * ((100vw - 481px) / (991 - 481)));
  }

  .orderedlist {
    display: none;
  }

  .placeholder {
    width: 11%;
    margin-left: 2px;
  }

  .placetitle {
    display: inline-block;
    font-size: calc(10px + (14 - 10) * ((100vw - 481px) / (991 - 481)));
    margin-left: calc(5px + (15 - 5) * ((100vw - 481px) / (991 - 481)));
  }

  .list1,
  .list2,
  .list3,
  .list4 {
    display: none;
  }

  .mobile_list1,
  .mobile_list2,
  .mobile_list3,
  .mobile_list4 {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 516px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10px auto auto 60px repeat(4, auto) auto 60px;
    grid-row-gap: 10px;
    grid-template-areas:
      "."
      "head"
      "article"
      "mediamix"
      "list1"
      "list2"
      "list3"
      "list4"
      "mediapic"
      "mediamix2";
  }

  h3,
  h1,
  .paragraph,
  .button1,
  .placeholder {
    margin-left: 20px;
  }

  .leftimage,
  .button2,
  .buttonsvg2,
  .rightimage1,
  .rightimage2,
  .list1,
  .list2,
  .list3,
  .list4 {
    display: none;
  }

  .sectionHead {
    align-self: end;
  }

  h3 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  h1 {
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 30px;
    margin-right: 10px;
  }

  .paragraph {
    font-size: 0.9em;
    line-height: 2.2;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .button1,
  .button3 {
    width: 32%;
    height: 40px;
    font-size: 0.65em;
    margin-top: 4px;
    padding-left: 18px;
  }

  .buttonsvg1,
  .buttonsvg3 {
    width: 40px;
    height: 40px;
    margin-top: 4px;
  }

  .placeholder {
    width: 11%;
  }

  .placetitle {
    display: inline-block;
    font-size: 12px;
    margin-left: 15px;
  }

  .slideshow-container {
    display: block;
    grid-area: mediapic;
  }

  .mobile_list1,
  .mobile_list2,
  .mobile_list3,
  .mobile_list4,
  .mobile_button {
    display: block;
  }
}

@media screen and (min-width: 1921px) {
  body {
    display: none;
  }
}

@media screen and (max-width: 319px) {
  body {
    display: none;
  }
}
